#-*-shell-script-*-
# This file is separate from .zshrc so that I can also use it with bash.
# Editing this file with vim
alias myalias="vim $HOME/.aliases"

# Aliasing system commands
alias less="less -N"
alias mv="mv -v"
alias rm="rm -Rv"
alias cp="cp -v"

# Other System-level stuff
alias clean="rm -r ~/Downloads/*"
alias cpwd='printf %s "$(pwd)" | xclip -selection clipboard'

# Start Emacs in daemon mode from CLI
alias emdmn="emacs --daemon"

# LaTeX
alias cln-tex="latexmk -c; rm *.bbl"
alias mk-tex="latexmk -pdf"

# Dot graphs
alias dirgraph='dot -Tpdf -O'
alias jpgraph='dot -Tjpg -O'

# Aliases for working with NLTK
alias nltkdev='cd ~/code/python/nltk'
alias mut='python -m pytest --cov=nltk/lm --cov-report term-missing nltk/test/unit/lm'
alias mdt='python -m pytest --cov=nltk/lm --cov-report term-missing --doctest-modules nltk/lm'
alias mrt='python -m pytest --doctest-glob="*.doctest" nltk/test/lm.doctest'
alias mat='tox -e py37 -e py36 nltk.test.unit.lm lm.doctest'

backup () {
    # Rsync options:
    # -a		general archiving, useful
    # -v		need to explicitly check the results at first
    # --delete	delete files in dest which are missing in src
    # -L  turn symlinks into referent files/folders
    rsync -aLkv --delete \
          --exclude=".git" \
          --exclude=".venv" \
          --exclude="__pycache__" \
          ~/code/configs \
          ~/code/cogsys/ms-thesis \
          ~/Documents \
          /run/media/quickbeam/PLINKETT/backup/ \
}


# Jupyter shortcuts
alias jc='jupyter console'
alias jn='jupyter notebook'

# Scheme tab completion
# (requires rlwrap package) and the following file:
# https://gist.githubusercontent.com/bobbyno/3325982/raw/fc0208d287e56adc12b4c76114fcd21a107082ad/mit_scheme_bindings.txt
alias scheme="rlwrap -r -c -f ~/.scheme/mit_scheme_bindings.txt scheme"

# RTR-related
# -----------

# NVM setup
export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion

# Golang setup
export PATH=$PATH:/usr/local/go/bin

# Direnv
eval "$(direnv hook zsh)"
