! --- ~/.Xresources ------------------------------------------------------------
! ------------------------------------------------------------------------------
! --- generated with 4bit Terminal Color Scheme Designer -----------------------
! ------------------------------------------------------------------------------
! --- http://ciembor.github.com/4bit -------------------------------------------
! ------------------------------------------------------------------------------

! --- special colors ---

*background: #0d1926
*foreground: #d3f8f2

! --- standard colors ---

! black
*color0: #5a5a5a

! bright_black
*color8: #7e7e7e

! red
*color1: #de5454

! bright_red
*color9: #efa9a9

! green
*color2: #54de54

! bright_green
*color10: #a9efa9

! yellow
*color3: #dede54

! bright_yellow
*color11: #efefa9

! blue
*color4: #5454de

! bright_blue
*color12: #a9a9ef

! magenta
*color5: #de54de

! bright_magenta
*color13: #efa9ef

! cyan
*color6: #54dede

! bright_cyan
*color14: #a9efef

! white
*color7: #d9d9d9

! bright_white
*color15: #ffffff


! ------------------------------------------------------------------------------
! --- end of terminal colors section -------------------------------------------
! ------------------------------------------------------------------------------

Xft.dpi:        96
Xft.antialias:  true
Xft.hinting:    true
Xft.rgba:       rgb
Xft.hintstyle:  hintslight

URxvt*font: xft:DejaVu Sans Mono:antialias=true:pixelsize=12
URxvt*boldFont: xft:DejaVu Sans Mono:style=bold:antialias=true:pixelsize=12
URxvt*italicFont: xft:DejaVu Sans Mono:style=italic:antialias=true:pixelsize=12
URxvt*boldItalicFont: xft:DejaVu Sans Mono:style=bolditalic:antialias=true:pixelsize=12
