IdentityFile ~/.ssh/id_rsa_git

Host poseidon-docker
  User root
  ProxyCommand ssh kurenkov@poseidon.ling.uni-potsdam.de nc localhost 22222

Host poseidon
  HostName poseidon.ling.uni-potsdam.de
  User kurenkov
  IdentityFile ~/.ssh/id_rsa_poseidon

Host medusa
  HostName medusa.ling.uni-potsdam.de
  User kurenkov
  IdentityFile ~/.ssh/id_rsa_medusa

Host gate-keeper
  HostName jarvis.ling.uni-potsdam.de
  StrictHostKeyChecking no
  User kurenkov
  IdentityFile ~/.ssh/id_rsa_poseidon

Host manager
  ProxyCommand ssh gate-keeper nc manager 22
  User kurenkov
  StrictHostKeyChecking no
  CheckHostIP no

Host holmes-analysis
  ProxyCommand ssh gate-keeper nc holmes-analysis 22
  User kurenkov
  StrictHostKeyChecking no
  CheckHostIP no

Host m1-openmiir
  ProxyCommand ssh gate-keeper nc m1-openmiir-speech 22
  User kurenkov
  StrictHostKeyChecking no
  CheckHostIP no

Host asr-dev1
  ProxyCommand ssh gate-keeper nc asr-dev1 22
  User kurenkov
  StrictHostKeyChecking no
  CheckHostIP no
  IdentityFile ~/.ssh/id_rsa_poseidon

Host asr-dev2
  ProxyCommand ssh gate-keeper nc asr-dev2 22
  User kurenkov
  StrictHostKeyChecking no
  CheckHostIP no
  IdentityFile ~/.ssh/id_rsa_poseidon

Host fair-asr
  ProxyCommand ssh gate-keeper nc fair-asr 22
  User kurenkov
  StrictHostKeyChecking no
  CheckHostIP no
  IdentityFile ~/.ssh/id_rsa_poseidon

Host lgm2017-lego
  ProxyCommand ssh gate-keeper nc lgm2017-lego 22
  User kurenkov

Host tt-vm
  HostName vps441625.ovh.net
  User root
  IdentityFile ~/.ssh/id_rsa_revacom
