IdentityFile ~/.ssh/id_rsa_git

Host poseidon-docker
  User root
  ProxyCommand ssh kurenkov@poseidon.ling.uni-potsdam.de nc localhost 22222

Host poseidon
  HostName poseidon.ling.uni-potsdam.de
  User kurenkov
  IdentityFile ~/.ssh/id_rsa_poseidon

Host medusa
  HostName medusa.ling.uni-potsdam.de
  User kurenkov
  IdentityFile ~/.ssh/id_rsa_medusa

Host ava
  HostName ava.ling.uni-potsdam.de
  StrictHostKeyChecking no
  User kurenkov

Host manager
  ProxyCommand ssh ava nc manager 22
  User kurenkov
  StrictHostKeyChecking no
  CheckHostIP no

Host pm1-wildlife
  ProxyCommand ssh ava nc pm1-wildlife 22
  User kurenkov
  StrictHostKeyChecking no
  CheckHostIP no

Host pm2-sleep
  ProxyCommand ssh ava nc pm2-sleep 22
  User kurenkov
  StrictHostKeyChecking no
  CheckHostIP no

Host pm3-sun
  ProxyCommand ssh ava nc pm3-sun 22
  User kurenkov
  StrictHostKeyChecking no
  CheckHostIP no
